/*body{margin: 0; padding: 0; background: #262626; font-family: "Slate Pro";}
h1{text-align: center; border-bottom: 2px solid #ccc; margin: 0; padding: 5px 0 5px 0; font-size: 40px;}

#list{width: 100%; padding: 0 0 40px 0;}
#list a{display: block; width: 100%; padding: 23px 0 23px 0; text-align: left; background: url('../img/ic_unselect.png') no-repeat left center; border-bottom: 2px solid #ccc; color: #fafafa; text-decoration: none; font-size: 35px;}
#list a.selected{background: url('../img/ic_select.png') no-repeat left center;}
#list a span{padding: 0 0 0 81px;}


#footer{height: 24px; padding: 8px 0 8px 0; border-top: 1px solid #333; width: 100%; position: absolute; bottom: 0;}
#footer p{margin: 0; padding: 0 10px 0 10px; font-size: 24px; text-align: center; color: #fafafa;}*/


.hide{display: none;}